.week-view-table .better-harvest__week-view-cell {
  display: grid;
}
.week-view-table .entry-client {
  order: 1;
  font-weight: bold !important;
}
.week-view-table .entry-project {
  order: 2;
  font-weight: normal !important;
}
.week-view-table .entry-task {
  order: 3;
  font-style: italic !important;
}
.week-view-table .entry-client span {
  display: none;
}